<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tom</title>
  </head>
  <body>
    <h1>TEst</h1>
    <h2>{{tom.getName}}</h2>
    <h2>{{tom.getAttention}}</h2>
    <h2>{{tom.getRest}}</h2>
    <h2>{{tom.getSatiety}}</h2>
    <form class="" action="/feed" method="post">
      <a href="/tom"><button type="submit" name="button">FEED ME</button></a>
    </form>
    <form class="" action="/rest" method="post">
      <a href="/tom"><button type="submit" name="button">REST ME</button></a>
    </form>
    <form class="" action="/attention" method="post">
      <a href="/tom"><button type="submit" name="button">ATTENTION</button></a>
    </form>
  </body>
</html>
